.cat_image{
    width: 400px;
    height: 350px;
}
.cat_text{
    width: 500px;
}
.cat-info {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.breed-select {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
  }
  
  .breed-select:hover {
    border-color: #888;
  }
  

 .breed-select:focus {
    border-color: #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.7);
  }

  .breed-select:active,
  .breed-select:checked {
    border-color: #2f5bb7;
    background-color: #f0f8ff; }


  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color:#de3500 #0000 #fff #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
 }
 .loader:before , .loader:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }